*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Parte Alta */

.parte_alta{
    background-image: url(../img/pattern.png);
    background-color: rgb(70, 141, 248);
    height: 170px;
    color: white;
    text-shadow: 2px 2px black;
    position: relative;
    font-family: 'Alegreya', serif;
}

#the{
    font-size: 20px;
    position: absolute;
    left: 57px;
    top: 80px;
}

#Booleaner{
    font-size: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
}

 /* Header */

header>h1{
   font-size: 57px;
}

header{
margin: 15px 15px; 
}

.autore{
display: inline-block;
}

.grigio{
    color:grey;
}

.celeste{
    color: aqua;
}

.data{
    font-size: 10px;
    margin-bottom: 15px;
}

header > h4{
    font-size: 12px;
}

/* Main */

.testo1{
    margin-left: 20px;
}

.evidenziato{
    background-color: #FFFF00;
}

div>ul{
    margin-top: 30px;
    margin-left: 30px;
}

th{
    color: white;
    background-color: rgb(48, 94, 161);
}

.sfondo-colorato{
    background-color: aqua;
}

.tabella{
    margin: 30px 30px;
}

.testo2{
    margin: 20px 20px;
}

/* footer */
 
 